<!-- TÍTULO -->
<div class="row">
  <div class="large-12 columns main-content-top">
    <h2>Área Administrativa</h2>
  </div>
</div>
<!-- FIM TÍTULO -->

<% if signed_in? %>

<div class="row">
  <div class="large-12 columns"><br>
    <h1>Bem-vindo(a), <%= current_user.name %>.</h1><br>
    <div class="panel"><br>
      <h5><%= link_to "Editar Meu Perfil", edit_user_path(current_user), :class => "button alert" %></h5>
      <h5>
        <%= link_to "Adicionar Podcast", "podcasts/new", :class => "button" %>
        <%= link_to "Editar Podcast", "podcasts", :class => "button" %>
      </h5>
      <h5>
        <%= link_to 'Adicionar Ítem Na Agenda', new_agenda_path, :class => "button" %>
        <%= link_to "Editar Ítem Na Agenda", "agendas", :class => "button" %>
      </h5>
    </div><br><br>
  </div>
</div>

<% else %>

<div class="row">
  <div class="large-12 columns"><br>
    <div class="panel">
      <h1>Faça o login para visualizar.</h1>
    </div> 
    <iframe width="640" height="480" src="//www.youtube.com/embed/QykAaGoG5P4" frameborder="0" allowfullscreen></iframe><br><br><br>
  </div>
</div>

<% end %>