<!-- TÍTULO -->
<div class="row">
  <div class="large-12 columns main-content-top">
    <div class="row">
      <h2>Área Administrativa</h2>
    </div>
  </div>
</div>
<!-- FIM TÍTULO -->

<div class="row">
  <div class="large-12 columns"><br>
    <h1>Bem-vindo querido usuário!</h1><br>
    <div class="panel">
      <h3>&diams; <%= link_to "Adicionar Podcast", "#" %> - <%= link_to "Editar Podcast", "#" %></h3><br>
      <h3>&diams; <%= link_to "Adicionar Vídeo", "#" %> - <%= link_to "Editar Vídeo", "#" %></h3><br>
      <h3>&diams; <%= link_to "Adicionar Ítem Na Agenda", "#" %> - <%= link_to "Editar Ítem Na Agenda", "#" %></h3><br>
      <h3>&diams; <%= link_to "Adicionar Pessoa Da Equipe", "#" %> - <%= link_to "Editar Pessoa Da Equipe", "#" %></h3><br>
      <h3>&diams; <%= link_to "Adicionar Frase", "#" %> - <%= link_to "Editar Frase", "#" %></h3><br>
      <h3>&diams; <%= link_to "Adicionar Pessoa Para Coluna", "#" %> - <%= link_to "Editar Pessoa Para Coluna", "#" %></h3><br>
      <h3>&diams; <%= link_to "Adicionar Post Coluna", "#" %> - <%= link_to "Editar Post Coluna", "#" %></h3>
    </div><br><br><br>
  </div>
</div>