<!-- TÍTULO -->
<div class="row">
  <div class="large-12 columns main-content-top">
    <h2>Área Administrativa</h2>
  </div>
</div>
<!-- FIM TÍTULO -->

<div class="row">
  <div class="large-12 columns"><br>
    <h1>Bem-vindo querido usuário!</h1><br>
    <div class="panel"><br>
      <h5><%= link_to "Adicionar Podcast", "podcasts/new", :class => "button" %>  <%= link_to "Editar Podcast", "podcasts", :class => "button" %></h5>
      <h5><%= link_to "Adicionar Vídeo", "#", :class => "button" %>  <%= link_to "Editar Vídeo", "#", :class => "button" %></h5>
      <h5><%= link_to "Adicionar Ítem Na Agenda", "#", :class => "button" %>  <%= link_to "Editar Ítem Na Agenda", "#", :class => "button" %></h5>
      <h5><%= link_to "Adicionar Pessoa Da Equipe", "#", :class => "button" %>  <%= link_to "Editar Pessoa Da Equipe", "#", :class => "button" %></h5>
      <h5><%= link_to "Adicionar Frase", "#", :class => "button" %>  <%= link_to "Editar Frase", "#", :class => "button" %></h5>
      <h5><%= link_to "Adicionar Pessoa Para Coluna", "#", :class => "button" %>  <%= link_to "Editar Pessoa Para Coluna", "#", :class => "button" %></h5>
      <h5><%= link_to "Adicionar Post Coluna", "#", :class => "button" %>  <%= link_to "Editar Post Coluna", "#", :class => "button" %></h5>
    </div><br><br>
  </div>
</div>