<!-- TÍTULO -->
<div class="row">
  <div class="large-12 columns main-content-top">
    <h2>Equipe</h2>
  </div>
</div>
<!-- FIM TÍTULO -->

<!-- CONTEUDO PRINCIPAL -->
<div class="row main-content">
  <!-- Barra com categoria -->
  <div class="large-12 columns">
    <div class="row">   
      <div class="large-12 columns">
        <div class="title-block">
          <div class="icon-container"><i class="icon icon-user"></i></div>
          <span class="arrow-right"></span>
          <h3>Equipe Principal</h3>
          <div class="clearfix"></div>
        </div>
      </div>    
    </div>
  </div>
  <!-- Fim barra com categoria -->
  
  <!-- Conteúdo equipe-->
  <div class="large-12 columns">      
    <div class="work_slide">
      <ul id="work_slide">
        <li>
          <div class="view view-two"> 
            <%= image_tag("luiza.jpg") %> 
            <div class="mask"> 
              <h3>Luiza Müller, 26.</h3>
              <p>Mestre acadêmica, Suicide Girl, pensa sobre tudo mas nunca fala nada que presta.</p>
              <p>luiza@abeira.com</p>
            </div>
          </div>
        </li>
        <li>
          <div class="view view-two"> 
            <%= image_tag("nati.jpg") %> 
            <div class="mask"> 
              <h3>Natiele Kober, 23.</h3>
              <p>Psicopedagoga, correspondente internacional (que não sabe falar inglês).</p>
              <p>natiele@abeira.com</p>
            </div>
          </div>
        </li>
        <li>
          <div class="view view-two"> 
            <%= image_tag("alisson.jpg") %> 
            <div class="mask"> 
              <h3>Alisson Moura, 24.</h3>
              <p>Humano, tem o dom de atrasar as coisas magnificamente.</p>
              <p>alisson@abeira.com</p>
            </div>
          </div>
        </li>
        <li>
          <div class="view view-two"> 
            <%= image_tag("tanise.jpg") %> 
            <div class="mask"> 
              <h3>Tanise de Melo, 24.</h3>
              <p>Coordenadora de logística nada de cantar, eu vou dançar!</p>
              <p>tanise@abeira.com</p>
            </div>
          </div>
        </li>
      </ul>
      <div class="clearfix"></div>
      <a class="prev" id="slide_prev" href="#"><img src="images/arrow_left.png" alt="Previous" /></a>
      <a class="next" id="slide_next" href="#"><img src="images/arrow_right.png" alt="Next" /></a>
    </div>
  </div>
  <!-- Fim conteúdo equipe-->
</div>
<!-- FIM CONTEUDO PRINCIPAL -->

<!-- CONTEUDO PRINCIPAL -->
<div class="row main-content">
  <!-- Barra com categoria -->
  <div class="large-12 columns">
    <div class="row">   
      <div class="large-12 columns">
        <div class="title-block">
          <div class="icon-container"><i class="icon icon-user-md"></i></div>
          <span class="arrow-right"></span>
          <h3>Colaboradores</h3>
          <div class="clearfix"></div>
        </div>
      </div>    
    </div>
  </div>
  <!-- Fim barra com categoria -->
  
  <!-- Conteúdo equipe-->
  <div class="large-12 columns">      
    <div class="work_slide">
      <ul id="work_slide">
        <li>
          <div class="view view-two"> 
            <%= image_tag("aline.jpg") %>
            <div class="mask"> 
              <h3>Aline Ebone, 24.</h3>
              <p>Webdeveloper (garota de programa).</p>
              <p>ini.ebone@gmail.com</p>
            </div>
          </div>
        </li>
      </ul>
      <div class="clearfix"></div>
      <a class="prev" id="slide_prev" href="#"><img src="images/arrow_left.png" alt="Previous" /></a>
      <a class="next" id="slide_next" href="#"><img src="images/arrow_right.png" alt="Next" /></a>
    </div>
  </div>
  <!-- Fim conteúdo equipe-->
</div>
<!-- FIM CONTEUDO PRINCIPAL -->

<!-- CONTEUDO PRINCIPAL -->
<div class="row main-content">
  <!-- Barra com categoria -->
  <div class="large-12 columns">
    <div class="row">   
      <div class="large-12 columns">
        <div class="title-block">
          <div class="icon-container"><i class="icon icon-star"></i></div>
          <span class="arrow-right"></span>
          <h3>Convidados</h3>
          <div class="clearfix"></div>
        </div>
      </div>    
    </div>
  </div>
  <!-- Fim barra com categoria -->
  
  <!-- Conteúdo equipe-->
  <div class="large-12 columns">      
    <div class="work_slide">
      <ul id="work_slide">
        <li>
          <div class="view view-two"> 
            <%= image_tag("fane.jpg") %>
            <div class="mask"> 
              <h3>Fane Webber.</h3>
              <p>Podcaster do Mesa de Bar do Grêmio @faneinbox.</p> 
            </div>
          </div>
        </li>
      </ul>
      <div class="clearfix"></div>
      <a class="prev" id="slide_prev" href="#"><img src="images/arrow_left.png" alt="Previous" /></a>
      <a class="next" id="slide_next" href="#"><img src="images/arrow_right.png" alt="Next" /></a>
    </div>
  </div>
  <!-- Fim conteúdo equipe-->
</div>
<!-- FIM CONTEUDO PRINCIPAL -->